<nav class="sb-topnav navbar navbar-expand-lg navbar-light bg-light shadow">
    <!-- Navbar Brand -->
    <a class="navbar-brand ps-3 text-primary fw-bold" href="#">
        <i class="fas fa-school"></i> DAPODIK
    </a>
    <!-- Sidebar Toggle -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    </div>
</nav>

<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Menu</div>
                    <a class="nav-link" href="/">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <a class="nav-link" href="/data-siswa">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Data Siswa
                    </a>
                    <a class="nav-link" href="/logout">
                        <div class="sb-nav-link-icon"><i class="bi bi-box-arrow-right"></i></div>
                        Logout
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer text-center">
                <div class="small">DAPODIK X SMKN 1 CIREBON</div>
                <strong>By: Suwendo</strong>
            </div>
        </nav>
    </div>
